body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
margin:0;
padding:20px;
}

/* ГРАДИЕНТНЫЙ ЗАГОЛОВОК */

.gradient-text{
background: linear-gradient(45deg,#ff9a9e,#fad0c4,#a1c4fd);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
font-size:40px;
margin-bottom:30px;
}


/* СЛАЙДЕР */

.slider img{
width:400px;
border-radius:10px;
}

button{
padding:10px 20px;
margin:10px;
cursor:pointer;
border:none;
border-radius:6px;
background:#0d6efd;
color:white;
}

button:hover{
background:#0b5ed7;
}


/* МОДАЛЬНОЕ ОКНО */

.modal-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);

display:flex;
justify-content:center;
align-items:center;

z-index:1000;
}

.modal-content{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
}


/* ФОРМА */

form{
width:300px;
margin:auto;
}

input{
width:100%;
padding:8px;
margin:5px 0;
border-radius:5px;
border:1px solid #ccc;
}